.Rproj.user
.Rhistory
.RData
.Ruserdata
envs/
.ipynb_checkpoints/
# cluster
sps-*
sps/
# snakemake
.snakemake/
logs/
results/
# inputs
fastqs/
images/
transcriptome/
# spaceranger
*.mro
# temporary files
*.lock
*backup*
